/*******************************************************************/
/************************* SIDEBAR TABS ****************************/
/*******************************************************************/
.tab-holder{
	border:1px solid #eaeaea;
}
.tab-holder .tabs{
	height:40px;
	list-style:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
.tab-holder .tabs li{
	margin:0;
	padding:0;
	border-right:1px solid #d9d9d9 !important;
	height:39px;
	float:left;
}
.tab-holder .tabs li a{
	background:url(images/tab-bg.png) repeat-x top left !important;
	border:0 !important;
	height:39px !important;
	line-height:39px !important;
	font:13px/39px 'MuseoSlab500Regular', arial, helvetica, sans-serif !important;
	text-indent:0 !important;
	color:#333333 !important;
	padding:0 15px !important;
	border-bottom:1px solid #dcdcdc !important;
}
.tab-holder .tabs li:last-child{
	border-right:0 !important;
}
.tab-holder .tabs li:last-child a{
	width:100% !important;
}
.tab-holder .tabs li.active a{
	background:none !important;
	border-top:3px solid #84c650 !important;
	height:36px !important;
	line-height:36px !important;
	border-bottom:0 !important;
}
.tab-holder .tabs li img{
	margin-top:9px;
}
.tab-holder .news-list{
	list-style:none;
	margin:0;
	padding:0;
}
.tab-holder .news-list li{
	border-bottom:1px solid #e2e2e2;
	padding:20px 15px !important;
	overflow:hidden;
}
.tab-holder .news-list li a{
	background:none !important;
	padding:0 !important;
}
.tab-holder .news-list li:last-child{
	border-bottom:0;
}
.tab-holder .news-list .post-holder a{
	margin:0;
	padding:0;
	overflow:hidden;
	background:none !important;
	border:0 !important;
	text-indent:0 !important;
	height:auto !important;
	line-height:normal !important;
}
.tab-holder .news-list li .image{
	float:left;
	margin-right:13px;
}
.tab-holder .news-list li .post-holder{
}
.tab-holder .news-list li .post-holder a{
	color:#444444 !important;
	font-size:13px !important;
	line-height:17px !important;
}
.tab-holder .news-list li .post-holder p {
	margin:0;
	margin-bottom:5px;
}
.tab-holder .news-list li .post-holder .meta{
	margin:0;
	margin-top:2px;
	font-size:12px !important;
	color:#747474 !important;
}
.tab-holder .news-list li .post-holder .meta em{
	font-style:normal !important;
	font-size:12px !important;
	color:#747474 !important;
}
.tab-holder .news-list li .post-holder .comment-text-side{
	line-height:16px !important;
}
#sidebar .pyre_tabs .image{
	width:52px;
	height:50px;
}
#sidebar .pyre_tabs .image a{
	text-indent:0 !important;
	height:auto !important;
	line-height:normal !important;
	width:auto !important;
}
#sidebar .pyre_tabs .image .image-extras-content img{
	width:20px;
	height:20px;
}
#sidebar .widget ul{
	list-style:none;
	margin:0;
	padding:0;
}
#sidebar .widget li{
	margin:0;
	padding:0;
}
#sidebar .widget li a, #sidebar .widget .recentcomments, #sidebar .widget_categories li{
	background:url(images/arrow-ul.png) no-repeat center left;
	display:block;
	border-bottom:1px solid #e7e6e6;
	color:#838383;
	padding:10px;
}
#sidebar .widget .recentcomments a{
	background:none !important;
	border:none !important;
}


/************************************************************************/
/*********************** SIDEBAR SOCIAL MEDIA ***************************/
/************************************************************************/

#sidebar .social_links .social li{
	display:inline-block;
	margin-bottom:20px;
	width:15%;
	position:relative;
}
#sidebar .social_links .social li a{
	background:none;
	display:inline-block;
	border-bottom:0;
	line-height:normal;
	text-indent:-10000px;
	height:18px;
	padding:0 !important;

	background-image:url(images/social_links.png);
}
#sidebar .social_links .social li a.rss{
	background-position:-168px -1px;
	width:13px;
}
#sidebar .social_links .social li a.facebook{
	background-position:-3px 0px;
	width:9px;
}
#sidebar .social_links .social li a.twitter{
	background-position:-45px 0px;
	width:13px;
}
#sidebar .social_links .social li a.dribble{
	background-position:-88px -39px;
	width:16px;
}
#sidebar .social_links .social li a.google{
	background-position:-45px -39px;
	width:21px;
}
#sidebar .social_links .social li a.linkedin{
	background-position:-90px -1px;
	width:14px;
}
#sidebar .social_links .social li a.blogger{
	background-position:-204px -1px;
	width:16px;
}
#sidebar .social_links .social li a.tumblr{
	background-position:-129px 0px;
	width:15px;
}
#sidebar .social_links .social li a.reddit{
	background-position:0px -39px;
	width:19px;
}
#sidebar .social_links .social li a.yahoo{
	background-position:-125px -40px;
	width:22px;
}
#sidebar .social_links .social li a.deviantart{
	background-position:-165px -40px;
	width:23px;
}
#sidebar .social_links .social li a.vimeo{
	background-position:-202px -38px;
	width:19px;
}
#sidebar .social_links .social li a.custom{
	background:none !important;
	text-indent:0 !important;
	width:auto !important;
}

.popup{
	display:none;
	position:absolute;
	padding:0 0 6px;
	color:#d1d1d2;
	font-size:11px;
	line-height:15px;
	bottom:110%;
	left:-17px;
	background:url(images/bg-popup.png) no-repeat 0 100%;
}
.popup p{margin:0;}
.popup .holder{
	padding:4px 11px;
	background:#46494a;
}